<a href="https://colab.research.google.com/github/RiteshopShrivastava/Support_Vector_Machine/blob/main/Assignment_SVM_SalaryData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Prepare a classification model using SVM for salary data 

Data Description:

age -- age of a person

workclass	-- A work class is a grouping of work

education	-- Education of an individuals

maritalstatus -- Marital status of an individulas

occupation	 -- occupation of an individuals

relationship -- 	

race --  Race of an Individual

sex --  Gender of an Individual

capitalgain --  profit received from the sale of an investment

capitalloss	-- A decrease in the value of a capital asset

hoursperweek -- number of hours work per week	

native -- Native of an individual

Salary -- salary of an individual

In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
SalaryDf_Test = pd.read_csv('SalaryData_Test.csv')
SalaryDf_Train = pd.read_csv('SalaryData_Train.csv')

In [3]:
SalaryDf_Train.head()

   age          workclass   education  ...  hoursperweek          native  Salary
0   39          State-gov   Bachelors  ...            40   United-States   <=50K
1   50   Self-emp-not-inc   Bachelors  ...            13   United-States   <=50K
2   38            Private     HS-grad  ...            40   United-States   <=50K
3   53            Private        11th  ...            40   United-States   <=50K
4   28            Private   Bachelors  ...            40            Cuba   <=50K

[5 rows x 14 columns]

In [4]:
SalaryDf_Test.head()

   age   workclass      education  ...  hoursperweek          native  Salary
0   25     Private           11th  ...            40   United-States   <=50K
1   38     Private        HS-grad  ...            50   United-States   <=50K
2   28   Local-gov     Assoc-acdm  ...            40   United-States    >50K
3   44     Private   Some-college  ...            40   United-States    >50K
4   34     Private           10th  ...            30   United-States   <=50K

[5 rows x 14 columns]

In [5]:
SalaryDf_Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [3]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder_train =LabelEncoder()
SalaryDf_Train['Salary']= LabelEncoder_train.fit_transform(SalaryDf_Train['Salary'])
SalaryDf_Test['Salary']= LabelEncoder_train.fit_transform(SalaryDf_Test['Salary'])

In [4]:
df_train = pd.get_dummies(SalaryDf_Train)
df_test = pd.get_dummies(SalaryDf_Test)

In [8]:
df_train.head()

   age  educationno  ...  native_ Vietnam  native_ Yugoslavia
0   39           13  ...                0                   0
1   50           13  ...                0                   0
2   38            9  ...                0                   0
3   53            7  ...                0                   0
4   28           13  ...                0                   0

[5 rows x 103 columns]

In [9]:
df_test.head()

   age  educationno  ...  native_ Vietnam  native_ Yugoslavia
0   25            7  ...                0                   0
1   38            9  ...                0                   0
2   28           12  ...                0                   0
3   44           10  ...                0                   0
4   34            6  ...                0                   0

[5 rows x 103 columns]

In [5]:
x_train = df_train.drop('Salary', axis=1)
y_train = df_train['Salary']

In [6]:
x_test = df_test.drop('Salary', axis=1)
y_test = df_test['Salary']

In [16]:
clf = SVC()
clf.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [17]:
y_pred = clf.predict(x_test)

In [18]:
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.7964143426294821

In [19]:
print(confusion_matrix(y_test, y_pred))

[[10997   363]
 [ 2703   997]]